@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
.relative .carrito{
    width: 50px;
    max-width: 50px;
}
th .cruz{
   max-width: 30px;
}

.hero{
 
   
 
    background: #0575e6; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0575e6, #021b79); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0575e6, #021b79); 
 
}


tbody .imagen{
    max-width: 70px;
}